[build]
command = "npm run build"
publish = ".next"

[build.environment]
NODE_VERSION = "20"
NEXT_TELEMETRY_DISABLED = "1"
NETLIFY_NEXT_PLUGIN_SKIP_FORMS = "true"

[[plugins]]
package = "@netlify/plugin-nextjs"

[[redirects]]
from = "/_next/*"
to = "/_next/:splat"
status = 200
force = true

[[redirects]]
from = "/favicon.ico"
to = "/favicon.ico"
status = 200
