[build]
  command = "npm run netlify"
  publish = ".open-next"

[build.environment]
  NODE_VERSION = "18"
  NEXT_TELEMETRY_DISABLED = "1"
  NETLIFY_NEXT_PLUGIN_SKIP_FORMS = "true"
  CI = "true"

[[plugins]]
  package = "netlify-plugin-opennext"

[[redirects]]
  from = "/_next/*"
  to = "/_next/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/favicon.ico"
  to = "/favicon.ico"
  status = 200
