[build]
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"
  NEXT_TELEMETRY_DISABLED = "1"
  NETLIFY_NEXT_PLUGIN_SKIP_FORMS = "true"

[[plugins]]
  package = "@netlify/plugin-nextjs"
