[[headers]]
for = "/*"
  [headers.values]
  Content-Security-Policy = "default-src 'self'"
  Referrer-Policy = "strict-origin"

[[headers]]
for = "/"
  [headers.values]
  Link = "<https://edunancial.com/>; rel=\"canonical\""
