[build]
  command = "npm run netlify"
  publish = ".open-next"

[build.environment]
  NODE_VERSION = "18"
  NEXT_TELEMETRY_DISABLED = "1"
  CI = "true"

[[plugins]]
  package = "netlify-plugin-opennext"
