[build]
  command = "npm run build --verbose"
  publish = ".next"

[build.environment]
  NODE_ENV = "production"
  CI = "false"
  NPM_FLAGS = "--loglevel verbose"
  NEXT_TELEMETRY_DISABLED = "1"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[functions]
  node_bundler = "esbuild"
